.news-feed(@color,@headline) when (iscolor(@color) and iscolor(@headline)) {
  border-color: @color;
  h3 {

    // background-color: @headline;
    color: @headline;
  }
}

.FKS_newsfeed {
  .odd, .even {
    &.default {
      .news-feed(@ini_text_alt, white);
    }
    &.important {
      .news-feed(orangered, white);
    }
    &.DSEF {
      .news-feed(#11da75, white);
    }
    &.TSAF {
      h3 {
        color: #7511da;
        .news-feed(#7511da, white);
      }
    }
    &.deprecated {
      color: #bbb;
      h3 {
        color: #bbb;
      }
      .news-feed(#bbb, white);
    }
  }
}
