@rss_color: #ff8811;
@FKS_newsFeed_padding: .5em;
@FKS_newsFeed_duration: .2s;

@danger_color: #da1111;
@warning_color: #da7511;
@success_color: #11da75;
@edit_color: #1175da;

@import "custom_feed.less";

.FKS_newsfeed {
  .fields-container {
    border-top: solid 1px @ini_text_alt;
    background-color: @ini_background;
    padding: .5em;
  }
  .share.field {
    * {
      display: inline-block;
    }
  }
  .fields {
    display: none;
  }
  .odd, .even {
    //text-align: center;
  }

  .more_news .button {
    width: 100%;
  }
  .rss {
    & > * {
      &:hover {
        background-color: darken(@rss_color, 10%);
      }
      display: inline-block;
      padding: @FKS_newsFeed_padding;
      background-color: @rss_color;
      font-weight: bold;
      color: white;
    }
    a span {
      color: white;
    }
    margin-bottom: @FKS_newsFeed_padding;
    margin-top: @FKS_newsFeed_padding;
  }
  margin-top: 1em;
  margin-bottom: 1.5em;
  clear: both;
}

.feed-carousel .carousel-item {
  background-color: @ini_text_alt;
  background-size: cover;
}