/**
* LESS & CSS for DokuWiki plugin FKSnewsfeed 
* @author Michal Červeňák <miso@fykos.cz>
* 
*/

.FKS_newsfeed{
    .odd,.even{
        border-style: solid;
        border-width: 1px;

        &:hover{

            background-color: #f3f3f3;
        }
        margin: 0px;
        padding: 1em;  
        border-radius: 4px;
        clear: both;
        .author{
            float: right;
        }
        .date{
            float: right;
            font-weight: bold;
        }
        &.default{
            border-color:@ini_text_alt; 
            &:hover{
                border-color: darken(@ini_text_alt,10%);

            }
        }
    }
    .edit{
        padding-bottom: .5em;
    }
    .order_stream{
        .simple_order_div{
            position: absolute;
            width: 100%;
        }
        position: relative;
        width: 100%;
    }
}

