/**
* LESS & CSS for DokuWiki plugin FKSnewsfeed 
* @author Michal Červeňák <miso@fykos.cz>
* 
*/
@rss_color : #ff8811;
@FKS_newsfeed_padding: .5em;
@FKS_newsfeed_duration: .2s;

.FKS_newsfeed{

    button,input.button,.button{        
        &:hover,&.active,&:active{
            border-width: 1px;
            background: white;
            border-color:#999;
            color:black;
            padding: .5em; 
            transition-duration: @FKS_newsfeed_duration;
        } 
        background: white;        
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;
        color:#bbb;
        padding: @FKS_newsfeed_padding;
        transition-duration: @FKS_newsfeed_duration;

    }
    .edit {
        button,input.button,.button {
            &:hover,&.active,&:active{
                background-color: #f0f0f0;
            }
            border-width: 0 0 0 0;
        }
    }
    .priority {
        button,input.button,.button {

            &:hover,&.active,&:active{
                background-color: lighten(#11da75,10%);
            }
            color:white;
            background-color: #11da75;

        }
    }

    .more_news{
        .button{
            width: 100%;
        }
    }

    .odd,.even{
        &:hover{
            // background-color: #f3f3f3;
        }        
        border-color: @ini_text_alt;
        border-style: solid;
        border-width: 0 0 1px 0;
        margin: 0px;
        clear: both;
        padding-bottom:1px;
        .author{
            //padding: @FKS_newsfeed_padding;
            //clear: both;
        }
        .author{
            float: right;           
        }
        .date{            
            &:before{
                content: "";
            }
            float: right;
            display: flex;
            font-weight: bold;
        }
        .article p{
            padding: .5em;
            margin: 0;
            text-align: justify;
        }        
        .edit{
            

            &>div{
                display: inline-block;                
            }
            max-width: 100%;
            display: flex;
            justify-content:space-between;
            border-top:solid 1px #ccc;
            padding-bottom: 1px;
            float:none;
            clear:both;
         

        }
        .edit_field{
            &>div{
                display: none;
                float:none;
                clear: both;
                padding-top: .5em;
                padding-bottom: .5em;
                border-top: 1px solid #ccc;
            }
        }

        .headline{
            .headline_content{
                h3{
                    float: left;
                    //display: inline;
                    margin: 0;
                }
                padding: @FKS_newsfeed_padding;


            }
            color: white;
            background-color: @ini_text_alt;

        }
        &.w_image{
            &>*{
                padding-left: 33%;
            }
            &>.author,&>.edit{
                padding: 0;
            }
            .image{
                img{
                    width: 100%;
                    margin-left: .5em;
                }

                overflow: hidden;
                width: 33%;
                float: left;
                padding: 0;
                padding-bottom: .5em;
                padding-top: 0;

                margin-top: -1.5em;

            }

        }
        /*for new class of feed*/
        &.default{
            border-color:@ini_text_alt; 
            &:hover{
                border-color: darken(@ini_text_alt,10%);
            }
            .headline{
                background-color: @ini_text_alt ; 
            }
        }
        &.important{
            border-color:orangered; 
            &:hover{
                border-color: darken(orangered,10%);
            }
            .headline{
                background-color: orangered ; 
            }
        }
        &.DSEF{
            border-color:#11da75; 
            &:hover{
                border-color: darken(#11da75,10%);
            }
            .headline{
                background-color: #11da75 ; 
            }
        }
        &.TSAF{
            border-color:#7511da; 
            &:hover{
                border-color: darken(#7511da,10%);
            }
            .headline{
                background-color: #7511da ; 
            }
        }
        margin-bottom: 2em;
    }


    .rss {
        &:before{
            content: url('images/rss.png');
        }
        span{
            margin-left: 1em;
            color: white;
            font-weight: bold;
        }
        padding: .75em;
        border: none;
        //border: solid 1px darken(@rss_color,10%);
        background-color: @rss_color;
        margin-bottom: 1em;
    }
    .msg{
        //border: solid 1px #ccc;
        text-align: center;
        border: none;
        padding: @FKS_newsfeed_padding;
        margin-bottom: 1em;
        font-weight: bold;
        color: #bbb;
    }
    margin-top:1em;
    margin-bottom: 1.5em;
    clear: both;
}
.code{
    font-family: monospace,serif;
    background-color: #eee;
    padding: .5em;
    margin-bottom: 1em;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
.red{
    color: red;
}
.orange{
    color: orange;
}
.grey{
    color:grey;
}
